.continue-button {

  &:hover,
  & a:hover {
    cursor: url('../images/cursor_button.png') 18 0, auto;
  }
}

$top-arrow:140px;

span.arrow-blink {
  transform: translate(-50%, -50%);
  font-size: 8rem;
  transition-property: none;

  &:nth-child(1) {
    top: $top-arrow;
    left: 50%;
    animation: arrow-blink-1 2s ease-in-out .5s infinite;
  }

  &:nth-child(2) {
    top: ($top-arrow+75);
    left: calc(50% + 60px);
    animation: arrow-blink-2 2s ease-in-out infinite;
  }
}

@keyframes arrow-blink-2 {

  0%,
  100% {
    @apply text-orange-500;
  }

  50% {
    @apply text-blue-800;
  }
}

@keyframes arrow-blink-1 {

  0%,
  100% {
    @apply text-blue-800;
  }

  50% {
    @apply text-orange-500;
  }
}